<!DOCTYPE html>
<html lang="en">
<head>

<title> Delete Item Page </title>

	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>

<h1>Delete Item</h1>

<form action="{{url_for('deleteCatagoryItem', catagory_id = catagory_id, item_id = id)}}" method = 'POST'>

<input type = 'text' size='80' name='name' placeholder = '{{ removename }}' ></dd>
<input type='submit' value='Delete'>

</form>
</div>
<div>
	<a href = '{{url_for('catagoryItems', catagory_id = catagory_id)}}' > Cancel </a>
</div>

</body>




</html>