<html>
<head>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
<body>

<h1>New Item</h1>

<form action="{{url_for('newCatagoryItem', catagory_id = catagory_id)}}" method = 'POST'>

<dl>
	<dt>Name:</dt>
		<dd><input type ='text' size='80' name='name'></dd>
	<dt>Description:</dt>
		<dd><textarea name = 'description' rows = '5' cols = '40'></textarea></dd>
</dl>


<input type='submit' value='Create'>

</form>
</div>
<div>
	<a href = '{{url_for('catagoryItems', catagory_id = catagory_id)}}' > Cancel </a>
</div>

</body>




</html>